{% extends "layout.html" %}

{% block header%}
<title>Change password request | {{ current_user.school_id}}</title>
{%endblock%}

{% block body%}
<div class="container container-form">
    <form method="POST" class="centered">
        <h1 class="greet-2">Reset your password now</h1>
        <p class="greet">You are doing a great thing to keep the internet safe</p>
        <div class="form-group">
            <label for="password" class="mb-2">Your new Password</label>
            <input type="password" autocomplete="off" id="password" name="password" class="form-control" placeholder="Enter New Password" required >
        </div>
        <button type="submit" onclick="sendMail()" class="btn btn-primary mt-3">Change your password</button>
    </form>
</div>

<div id="modal" class="modal">
		<div id="modal-content" class="modal-content">
			<span id="modal-close" class="modal-close">&times;</span>
			<p id="modal-message"></p>
		</div>
	</div>

{% raw %}
<script>
    // Move these functions outside the sendMail function
        function displayModal(message) {
            var modal = document.getElementById("modal");
            var modalMessage = document.getElementById("modal-message");
            modalMessage.textContent = message;
            modal.style.display = "block";
        }

        function hideModal() {
            var modal = document.getElementById("modal");
            modal.style.display = "none";
        }

        function sendMail() {
            var templateParams = {
                subject: '{{ email_subject }}',
                sender: '{{ email_sender }}',
                recipient: '{{ email_recipients }}',
                body: '{{ email_body }}'
            };

            // Send email using emailjs
            emailjs.send('service_u0warqa', 'template_qktzatg', templateParams)
                .then(function(response) {
                    console.log("SUCCESS", response.status, response.text);

                    // Show the success modal and hide the contact information
                    displayModal("Email Sent Successfully");
                })
                .catch(function(error) {
                    console.log("FAILED", error);
                    displayModal("Email Not Sent. Please try again");
                });
        }
</script>
{% endraw %}
{%endblock%}




